@page
@model ServerHost.Areas.Admin.Pages.Blog.Articles.EditModel
@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = "ویرایش بلاگ";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">ویرایش بلاگ : </h3>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    
                      <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="mohsen.Mozo" class="control-label">نام</label>
                                <input type="text" class="form-control" asp-for="mohsen.Mozo" onchange="makeSlug('Title', 'Slug')">
                                <span asp-validation-for="mohsen.Mozo" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="mohsen.Slug" class="control-label">اسلاگ</label>
                                <input type="text" class="form-control" asp-for="mohsen.Slug">
                                <span asp-validation-for="mohsen.Slug" class="error"></span>
                            </div>
                        </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="mohsen.Picture" class="control-label">عکس</label>
                                <input type="file" class="form-control" asp-for="mohsen.Picture" accept="image/*">
                                <span asp-validation-for="mohsen.Picture" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="mohsen.CategoryId">گروه مقاله</label>
                                <select class="form-control" asp-for="mohsen.CategoryId" asp-items="Model.ArticleCategories">
                                    <option value="0">گروه مقاله </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="mohsen.PictureAlt" class="control-label">Alt</label>
                                <input type="text" class="form-control" asp-for="mohsen.PictureAlt">
                                <span asp-validation-for="mohsen.PictureAlt" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="mohsen.PictureTitle" class="control-label">عنوان</label>
                                <input type="text" class="form-control" asp-for="mohsen.PictureTitle">
                                <span asp-validation-for="mohsen.PictureTitle" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="mohsen.ShortDescription" class="control-label">توضیحات کوتاه</label>
                                <textarea class="form-control autogrow" asp-for="mohsen.ShortDescription" onchange="fillField('ShortDescription', 'MetaDescription')"
                                          style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                                <span asp-validation-for="mohsen.ShortDescription" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="mohsen.Description" class="control-label">توضیحات</label>
                                <textarea class="form-control" id="BodyContent" asp-for="mohsen.Description"></textarea>
                                <span asp-validation-for="mohsen.Description" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="mohsen.Keywords" class="control-label">کلمات کلیدی</label>
                                <input type="text" class="form-control" asp-for="mohsen.Keywords">
                                <span asp-validation-for="mohsen.Keywords" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group no-margin">
                                <label asp-for="mohsen.MetaDescription" class="control-label">توضیحات متا</label>
                                <textarea class="form-control autogrow" asp-for="mohsen.MetaDescription"
                                          style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 104px;"></textarea>
                                <span asp-validation-for="mohsen.MetaDescription" class="error"></span>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="mohsen.Id" class="control-label"> ایدی</label>
                                <input type="text" class="form-control" asp-for="mohsen.Id">
                                <span asp-validation-for="mohsen.Id" class="error"></span>
                            </div>
                        </div>
                    </div>@* <input type="hidden" asp-for="mohsen.Id" value="mohsen.Id" />*@
                  
                    <button type="submit" class="btn btn-success waves-effect waves-light m-b-5">ویرایش</button>
                    <a asp-page="./Index" class="btn btn-dark waves-effect waves-light m-b-5">بازگشت</a>
                </form>
            </div>
        </div>
    </div>
</div>