@page
@{
}

<div class="modal-header">
    <div class ="Close">
        <button type="button" class="btn mr-1 btn-secondary" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    
    <h4 class="modal-title">یک مشکل داریم</h4>
</div>
<div class="col-12 col-lg-12">
	
</div>